<template name="appLayout">
  <header>
    {{> navbar}}
  </header>
  <div class="row">
      <div class="menu" style="width : 130px; padding-left : 20px">
         <!-- <ul class="list-group"> -->
            <!-- <a href="/dashBoard" class="list-group-item active">
               Dash Board
            </a> -->
            <a href="/userProjects" class="list-group-item active">
               Projects
            </a>
            <a href="/userWorkSpace" class="list-group-item active">
               Workspace
            </a>
            <a href="/userFolders" class="list-group-item active">
               Folders
            </a>
            &nbsp;
            &nbsp;
      </div>
      <div class="main">
         <main style="min-height : 510px;">
           {{>Template.dynamic template=content data=params}}
         </main>
      </div>
      </div>
    <footer class="page-footer" style="colour : #e02d2d;">
          <div class="footer-copyright">
            <div class="container">
               <center>
                  © 2015 Copyright DRP
               </center>
            </div>
          </div>
        </footer>
</template>
