<template name="appLayout">
  <header>
    {{> navbar}}
  </header>
   <div class="row" style="margin-left : 15px; margin-right : 5px">
      <div class="col s3" style="width : 130px; padding-left : 20px">
         <ul class="list-group">
            <li class="list-group-item">
               <a href="/dashBoard">DashBoard</a>
            </li>
            <li class="list-group-item">
               <a href="/newProject">Projects</a>
            </li>
            <li class="list-group-item">
               <a href="/workSpace">Workspace</a>
            </li>
            <li class="list-group-item">
               <a href="/userFolders">Folders</a>
            </li>
            <!-- &nbsp;
            <a href="/createFolder" class="btn btn-primary btn-lg"> + CREATE FOLDER</a> -->
         </ul>
      </div>
      <div class="col s8">
         <main style="min-height : 510px;">
           {{>Template.dynamic template=content data=params}}
         </main>
      </div>
    </div>
    <footer class="page-footer" style="colour : #e02d2d;">
          <div class="footer-copyright">
            <div class="container">
               <center>
                  © 2015 Copyright DRP
               </center>
            </div>
          </div>
        </footer>
</template>
